/* Colors */
$base-grey: #303436;
$light-grey: #E9EBEE;
$lightest-grey: #8D989D;






/* Fonts */
$open-sans: 'Open Sans', Arial, sans-serif; 
$helvetica: Helvetica, 'Open Sans', Arial, sans-serif; 
$courier: 'Courier New', Courier, monospace;
