<h2>MOVIES</h2>
<ul class="movie--list">
  <li class="movie--item" *ngFor="let movie of movies">
    <section class="movie--left">
    <img class="movie--img" src="../assets/{{movie.imdbID}}.jpg"/>
    </section>
    <section class="movie--right">
      <h3 class="movie--title">{{movie.Title}}</h3>
      <div class="movie--info">
        <span class="movie--rated">{{movie.Rated}}</span>
        <span class="movie--runtime">{{movie.Runtime}}</span>
        <span class="movie--released">{{movie.Released}}</span> 
      </div>
      <p class="movie--description">{{movie.Plot}}</p>
      <a class="movie--button" href="{{ movie.Website }}"  target="_blank">View on IMDB</a>
    </section>
  </li>
</ul>