$radius: 15px;
.movie {
    &--list {
        // display: grid;
        max-width: 696px;
        font-family: 'Open Sans', sans-serif;
        color: #303436;
    }
    &--item {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: auto;
        // align-items: center;
        max-height: 240px;
        background: #E9EBEE;
        border: 2px solid #313436;
        border-radius: $radius;
        padding: 16px;
        margin: 20px auto;
    }
    &--left {
        align-self: center;
    }
    &--right {
        display: flex;
        flex-direction: column;
    }
    &--info {
        display: flex;
        align-items: center;
        margin: 5px 10px 15px 0px;
        font-size: 0.875em;        

    }

    &--img {
        // max-height: 200px;
        max-width: 140px;
        width: auto;
        border-radius: $radius;
        height: 208px;
    }
    &--title {
        margin: 0;
        border-bottom: 3px solid #D8D8D8;
        font-size: 1.5em;
        font-weight: bold;
        padding-bottom: 3px;
    }
    &--rated {
        border: 1px solid #D8D8D8;
        display: inline-block;
        padding: 3px 8px;
        // color: #D8D8D8;
        color: #8D989D;
        border-radius: 3px;
        margin-right: 12px;
        // margin: 5px 10px 15px 0px;
    }
    &--runtime {
        color: #303436;
        display: inline-block;
    }
    &--released {
        margin-left: auto;
    }
    &--description {
        margin:0;
    }
    &--button {
        display: block;
        margin-left: auto;
        background: #F9B44A;
        max-width: 193px;
        text-align: center;
        color: white;
        text-decoration: none;
        padding: 10px 0;
        margin-top: auto;
        padding: 10px 44px;
        border-radius: 3px;
    }

}