@import '../scss/variables';
@import '../scss/mixins';
@import '../scss/base';
@import '../scss/media-queries';

.decades {
  &--container {
    display: flex;
    justify-content: flex-end;
    margin-right: 2px;
  }
  &--label {
    display:inline-block;
    background-color:#F7F8F9;
    padding: 10px 20px;
    font-family: $helvetica;
    font-size:14px;
    border: 1px solid #1C1F21;
    border-radius: 2px; 
    cursor: pointer;
    &:hover {
      background-color:rgba(26, 114, 176, 0.55);
    }
  }
  &--input {
    display:none; 
    &:checked + label {
      background-color:#1A72B0;
      border-color: 1px solid #979797;
      color: #fff;
    }
  }
}


