
<div class="decades--container">
  <input 
      type="radio" 
      class="decades--input" 
      [ngModel]="decade" 
      (ngModelChange)="filterYears($event)" 
      value="2000s" 
      id="2000s"
      />
  <label 
      for="2000s" 
      class="decades--label">
      2000's
  </label>
  <input 
      type="radio" 
      class="decades--input" 
      [ngModel]="decade" 
      (ngModelChange)="filterYears($event)" 
      value="1990s"
      id="1990s" 
      checked
          />
  <label 
      for="1990s" 
      class="decades--label">
      1990's
  </label>
</div>




  
