<!-- <div class="search-buttons">
    <label class="switch">
    <input 
        type="checkbox" 
        [ngModel]="inputText" 
        (ngModelChange)="filterYears($event)">
    <span class="slider">2000s</span>
    </label>
</div> -->

<div class="container">
    <div class="switch">
        <input 
            type="radio" 
            class="switch-input" 
            [ngModel]="decade" 
            (ngModelChange)="filterYears($event)" 
            value="1990s" 
            checked
             />
        <label for="week" class="switch-label switch-label-off">1990s</label>
        <input 
            type="radio" 
            class="switch-input" 
            [ngModel]="decade" 
            (ngModelChange)="filterYears($event)" 
            value="2000s" 
            />
        <label for="month" class="switch-label switch-label-on">2000s</label>
        <span class="switch-selection"></span>
    </div>
</div>

<!-- <div class="onoffswitch">
    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
    <label class="onoffswitch-label" for="myonoffswitch">
        <span class="onoffswitch-inner"></span>
        <span class="onoffswitch-switch"></span>
    </label>
</div> -->



  
